<div id="seccion-de-iniciar-sesion">
  <div class="contenedor-de-iniciar-sesion">
    <div class="parte-izquierda">
      <div class="imagen-izquierda">
        <img src="../../../../../assets/pexels-ayşe-altaylar-gördeyen-14085647.jpg" alt="">
      </div>
    </div>
    <div class="parte-derecha">
      <div class="formulario-para-iniciar-sesion">
        <div class="mensajes">
          <div class="mensaje-de-bienvenida">
            <p>¡Hola Bienvenido a la incubadora del NOC!</p>
          </div>
          <div class="titulo-principal">
            <h4>Iniciar Sesión</h4>
          </div>
          <div class="subtitulo">
            <h2>¿Aún no tienes cuenta? Registrate aquí.</h2>
          </div>
        </div>
        <div class="campos-del-formulario">
          <form [formGroup]="formLogin" (ngSubmit)="sendLoginForm($event)">

            <div class="label-and-input">
              <label for="emailInput" class="input-label">Correo electrónico</label>
              <input
              type="email"
              placeholder="john@gmail.com"
              formControlName="email"
              class="inputForm"
              id="emailInput">
              <div class="error-message" [class.isInvalid]="emailField?.invalid && emailField?.touched">
                <p>Email requerido</p>
              </div>
            </div>

            <div class="label-and-input">
              <label for="passwordInput" class="input-label">Correo electrónico</label>
              <input
              type="password"
              placeholder="password1"
              formControlName="password"
              class="inputForm"
              id="passwordInput">
              <i class="fa-solid fa-eye-slash" id="eye"></i>
              <div class="error-message" [class.isInvalid]="passwordField?.invalid && passwordField?.touched">
                <p>pass requerida</p>
              </div>
            </div>

            <div class="checkbox-y-contraseña">
              <div class="checkbox-texto">
                <input type="checkbox" name="asd" class="inputCheckbox"><span>Recordarme</span>
              </div>
              <p class="forgot-password">¿Olvidaste tu contraseña?</p>
            </div>
            <button mat-raised-button color="accent">Iniciar sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

