<div id="professor-courses-section">
  <div class="professor-courses-container">
    <p>Mis cursos</p>
    <div class="cards-container">
      <div class="course-cards" *ngFor="let item of coursesList">
        <mat-card class="example-card">
          <div class="img-card" style=" background-image: url('{{item.image}}');"></div>
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
          <mat-card-actions class="actions">
            <div class="course-price">$ {{item.price}}</div>
            <button mat-raised-button color="primary" routerLink="/course/edit-course" (click)="watchProfessorCourseById(item.id);">Editar curso</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
