#course-info-section{
  margin-top: 140px;
  margin-bottom: 200px;
  & .course-info-container{
    margin: 0px 120px;
  }
}

.profile-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px 40px; */
  grid-area: 1 / 2 / 6 / 6;

  & .course-data{
    display: flex;
    flex-direction: row;
    align-items: center;
    & .price-and-subscribe {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-evenly;
      align-items: center;
    }
    & .course-description {
      /* height: 63px; */
      overflow: hidden;
      display: -webkit-box!important;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
    & .course-data-right {
      & .example-card {
        height: 280px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
