
#contact-section{
  margin-top: 140px;
  margin-bottom: 200px;

  & .contact-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 30%;
    border: 1px solid black;
    border-radius: 8px;


    & .contact-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* padding: 20px 40px; */
      grid-area: 1 / 2 / 6 / 6;

      & .contact-header{
        width: 100%;
        padding: 20px 10px;
        max-width: -webkit-fill-available;
        text-align: center;

        & .title{
          font-size: 24px;
        }
      }

      & .contact-form{
        /* padding: 40px 1px; */
        margin-bottom: 40px;
        width: 50%;
        & form{
          display: flex;
          flex-direction: column;
          /* & .imageInput{
            border: 1px solid #9E896A;
            width: 25%;
            padding: 4px;
            text-align: center;
            border-radius: 32px;
          } */
          /* & .imageInput:hover{
            cursor: pointer;
          } */
          & button{
            width: 34%;
            align-self: center;
            border-radius: 32px;
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

#contact-section .contact-container {
  & .contact-form {
    & .label-and-input{
      & .input-mail{
        display: block;
        padding-bottom: 3px;
        font-size: 18px;
      }
      & .inputForm{
        border-radius: 32px;
        border: 1px solid #9E896A;
        padding: 10px;
        width: 100%;
        resize: none;
      }
    }
    & .mat-form-field-infix{
      border: none;
      padding: 0px;
    }
    & .error-message{
      color: red;
      margin-bottom: 4px;
      visibility: hidden;
      & p{
        padding-top: 3px;
        margin: 0px;
      }
    }
    & .isInvalid{
      visibility: visible;
    }
  }
}
