<div id="create-course-section">
  <div class="create-course-container">
    <div class="side-nav">
      <div class="options">
        <mat-nav-list role="optionsList">
          <mat-list-item role="listitem">
            <a routerLink="/course/professor-courses">Ver mis cursos</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <a routerLink="/course/edit-course">Editar curso</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <a routerLink="/attendance/course-with-lessons">Ver curso con clases</a>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <a routerLink="/course/create-course">Nuevo curso</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </mat-nav-list>
      </div>
    </div>
    <div class="profile-info">
      <div class="course-data">
        <div class="course-data-left">
          <mat-card class="example-card" style="height: 250px; max-width: 350px;">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{courseData.title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Descripción: {{courseData.description}}
              </p>
              <p>Duración: 3 semanas</p>
              <p>Creado por <span style="font-weight: 500;">{{courseData.teacher}}</span></p>
              <p>Clases inician el {{courseData.startDate | date: 'EEEE d of MMMM' }}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="course-data-right">
          <mat-card class="example-card" style="height: 250px; max-width: 350px; width: 350px;">
            <img mat-card-image [src]="currentImage" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>Precio: $ {{courseData.price}}</p>
            </mat-card-content>
          </mat-card>
          <!-- <img [src]="currentImage" alt="" style="width: 340px; height: auto;">
          <p>Precio: $ {{courseData.price}}</p> -->
        </div>
      </div>
      <div class="profile-header">
        <!-- <div class="lessonTitle">
          <p>Agregar clases</p>
        </div> -->
        <div class="lessonSubTitle">
          Completa la información para agregar una clase al curso
        </div>
      </div>
      <div class="profile-form">
        <form [formGroup]="courseForm" (ngSubmit)="addLesson($event)">
          <div class="label-and-input">
            <label for="inputId" class="input-label">Título de la clase</label>
            <input
            type="text"
            placeholder="Ej: Fullstack con angular y node"
            formControlName="lessonTitle"
            class="inputForm"
            id="inputId">
            <div class="error-message" [class.isInvalid]="lessonTitleField?.invalid && lessonTitleField?.touched">
              <p>Título requerido</p>
            </div>
          </div>

          <div class="label-and-input">
            <label class="input-label" for="courseDescription">Descripción</label>
            <textarea class="inputForm" id="courseDescription" cols="88" rows="5" formControlName="description"></textarea>
            <div class="error-message" [class.isInvalid]="descriptionField?.invalid && descriptionField?.touched">
              <p>Descripción requerida</p>
            </div>
          </div>
          <div class="label-and-input">
            <label for="lessonDateTime" class="input-label">Fecha</label>
            <input
            type="date"
            placeholder="Ej: 1"
            formControlName="lessonDateTime"
            class="inputForm"
            id="lessonDateTime">
            <div class="error-message" [class.isInvalid]="lessonDateTimeField?.invalid && lessonDateTimeField?.touched">
              <p>Fecha requerida</p>
            </div>
          </div>

          <button mat-raised-button color="primary" class="custom-btn">Agregar clase</button>
        </form>
      </div>
    </div>
  </div>
</div>
