#all-courses-section{
  margin-top: 140px;
  margin-bottom: 200px;
  & .all-courses-container{
    margin: 0px 120px;
    & .courses-title{
      font-size: 24px;
      margin-bottom: 20px;
    }
    & .mat-card-header{
      display: flex;
      align-content: flex-start;
      justify-content: space-evenly;
    }
    & .cards-container{
      display: flex;
    }
  }
}

.example-card {
  max-width: 340px;
  border: 1px solid black;
  & img{
    height: 300px;
    width: auto;
  }
  margin-bottom: 20px;
  margin-right: 15px;
  & .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}

.img-card {
  border: 1px solid black;
  width: 250px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 15px;
}
