<div id="all-courses-section">
  <div class="all-courses-container">
    <div class="courses-title">
      Todos los cursos
    </div>
    <div class="cards-container">
      <div class="course-cards" *ngFor="let item of coursesList">
        <mat-card class="example-card">
          <div class="img-card" style=" background-image: url('{{item.image}}');"></div>
          <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
          </mat-card-content>
          <mat-card-actions class="actions">
            <div class="course-price">$ {{item.price}}</div>
            <button mat-raised-button routerLink="/course/course-information" (click)="watchCourseById(item.id);" style="background-color: #9859E8; color: white">Ver curso</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
