<div id="some-top" ></div>
<mat-toolbar id="nav-bar">
  <div class="contenedor">
    <div class="logo">
      <img src="../../../../assets/noc-logo.png" alt="logo">
    </div>
    <ul class="enlaces">
      <li>
        <a routerLink="/home" routerLinkActive="router-link-active" >Inicio</a>
      </li>
      <li>
        <a routerLink="/course/courses" routerLinkActive="router-link-active" >Cursos</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="router-link-active" >Nosotros</a>
      </li>
      <li>
        <a routerLink="/dashboard" routerLinkActive="router-link-active" >Contacto</a>
      </li>
    </ul>
    <div class="botones">
      <button mat-raised-button color="accent" routerLink="/user/login" *ngIf="!userIsLogued">Entrar</button>
      <button mat-raised-button color="primary" class="registro" *ngIf="!userIsLogued" routerLink="/user/signup" >Registrarse <img src="../../../../assets/2124045_arrow_essential_app_up_icon.svg" alt=""></button>

      <span *ngIf="userIsLogued" class="userLogued">Hola {{userName}}</span>
      <button mat-raised-button color="primary" routerLink="/course/create-course" *ngIf="userIsLogued" style="margin-right: 15px;">Nuevo curso</button>
      <button mat-raised-button color="accent" routerLink="/user/edit-profile" *ngIf="userIsLogued" (click)="toProfile()">A perfil</button>
      <button mat-raised-button color="primary" *ngIf="userIsLogued" class="registro" (click)="logOut()" routerLink="/home">Salir <img src="../../../../assets/2124045_arrow_essential_app_up_icon.svg" alt=""></button>
    </div>
  </div>
</mat-toolbar>
