<div id="seccion-de-iniciar-sesion">
  <div class="contenedor-de-iniciar-sesion">
    <div class="parte-izquierda">
      <div class="imagen-izquierda">
        <img src="../../../../../assets/pexels-alena-darmel-7750978 (1).jpg" alt="" *ngIf="rolIdField?.value==1 || rolIdField?.value==false">
        <img src="../../../../../assets/pexels-vanessa-garcia-6325958.jpg" alt="" *ngIf="rolIdField?.value==2">
      </div>
    </div>
    <div class="parte-derecha">
      <div class="formulario-para-iniciar-sesion">
        <div class="mensaje-de-bienvenida">
          <p>¡Hola Bienvenido a la incubadora del NOC!</p>
        </div>

        <div class="campos-del-formulario">
          <form [formGroup]="formSignUp" (ngSubmit)="sendForm($event)">

            <mat-radio-group formControlName="rolId" class="radio-group">
              <mat-radio-button value="1" class="radio-input-1" checked="true">Estudiante</mat-radio-button>
              <mat-radio-button value="2" class="emailInput" class="radio-input-2">Profesor</mat-radio-button>
            </mat-radio-group>

            <div class="messages" [class.active]="formSignUp.get('name')?.invalid">
              <mat-error  *ngIf="rolIdField?.touched && rolIdField?.hasError('required')">
                Campo radio es requerido
              </mat-error>
            </div>

            <div class="subtitulo">
              <h2>¡Aprende y animate a crear tu propio emprendimiento!</h2>
            </div>

            <div class="label-and-input">
              <label for="nameInput" class="input-label">Nombre</label>
              <input
              type="text"
              placeholder="John"
              formControlName="name"
              class="inputForm"
              id="nameInput">
              <div class="error-message" [class.isInvalid]="nameField?.invalid && nameField?.touched">
                <p>Nombre requerido</p>
              </div>
            </div>

            <div class="label-and-input">
              <label for="lastnameInput" class="input-label">Apellido</label>
              <input
              type="text"
              placeholder="Doe"
              formControlName="lastname"
              class="inputForm"
              id="lastnameInput">
              <div class="error-message" [class.isInvalid]="lastnameField?.invalid && lastnameField?.touched">
                <p>Apellido requerido</p>
              </div>
            </div>

            <div class="label-and-input">
              <label for="nameInput" class="input-label">Correo electrónico</label>
              <input
              type="email"
              placeholder="John@gmail.com"
              formControlName="email"
              class="inputForm"
              id="emailInput">
              <div class="error-message" [class.isInvalid]="emailField?.invalid && emailField?.touched">
                <p>Email requerido</p>
              </div>
            </div>

            <div class="label-and-input">
              <label for="passwordInput" class="input-label">Contraseña</label>
              <input
              type="password"
              placeholder="********"
              formControlName="password"
              class="inputForm"
              id="passwordInput">
              <i class="fa-solid fa-eye-slash" id="eye"></i>
              <div class="error-message" [class.isInvalid]="passwordField?.invalid && passwordField?.touched" >
                <p *ngIf="(passwordField?.hasError('required'))">Contraseña requerida</p>
              </div>
              <div class="error-message" [class.isInvalid]="passwordField?.hasError('minlength') && passwordField?.touched" >
                <p *ngIf="passwordField?.hasError('minlength')">Debe tener al menos 8 caracteres</p>
                <p *ngIf="!(passwordField?.hasError('required')) && !(passwordField?.hasError('minlength'))">a</p>
              </div>
            </div>

            <div class="label-and-input">
              <label for="passwordInput" class="input-label">Repetir contraseña</label>
              <input
              type="password"
              placeholder="********"
              formControlName="repeatPassword"
              class="inputForm"
              id="passwordInput2">
              <i class="fa-solid fa-eye-slash" id="eye2"></i>
              <div class="error-message" [class.isInvalid]="repeatPasswordField?.invalid && repeatPasswordField?.touched" >
                <p *ngIf="repeatPasswordField?.hasError('required')">Contraseña requerida</p>
              </div>
              <div class="error-message" [class.isInvalid]="repeatPasswordField?.hasError('minlength') && repeatPasswordField?.touched" >
                <p *ngIf="repeatPasswordField?.hasError('minlength')">Debe tener al menos 8 caracteres</p>
                <p *ngIf="!(repeatPasswordField?.hasError('required')) && !(repeatPasswordField?.hasError('minlength'))">a</p>
              </div>
            </div>

            <button mat-raised-button color="accent">Crear cuenta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
