
#seccion-de-iniciar-sesion{
  margin-top: 120px;
  & .contenedor-de-iniciar-sesion{
    margin: 0px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    & .parte-izquierda{
      & .imagen-izquierda{
        & img{
          width: 75%;
        }
      }
    }
  }
  & .parte-derecha{
    & .mensaje-de-bienvenida{
      font-size: 16px;
      margin-bottom: 22px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 80%;
    }
    & .campos-del-formulario{
      & .subtitulo{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        & h2{
          font-size: 16px;
          color: #5B5B5B;
        }
      }
      & .radio-group{
        width: 45%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 33px;
        background-color: #FAF5DE;
        margin-bottom: 15px;
        align-self: center;
        box-shadow: 9px 8px 9px -7px rgba(0,0,0,0.75);
        -webkit-box-shadow: 9px 8px 9px -7px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 8px 9px -7px rgba(0,0,0,0.75);
        & .radio-input-1{
          border-radius: 33px;
          padding: 8px 18px;
          background-color: #316BDB;
          color: white;
        }
        & .radio-input-2{
          border: 1px solid black;
          border-radius: 33px;
          padding: 8px 18px;
          background-color: #FAF5DE;
          color: #3F3F3F;
        }
      }
      & .emailInput{
        margin-top: 20px;
      }
      & .passwordInput{
        margin-top: 20px;
      }
      display: flex;
      & form{
        display: flex;
        flex-direction: column;
        width: 80%;
        & .mat-label-email{
          color:black;
          font-size: 24px;
        }
        /* & .email-label {
          & .mat-input-element{
            border: 1px solid #9E896A;
            border-radius: 40px;
            padding: 10px 10px;
          }
          & .mat-form-field-underline{
            visibility: hidden;
          }
        }
        & .password-label{
          & .mat-input-element{
            border: 1px solid #9E896A;
            border-radius: 40px;

            padding: 10px 12px;
          }
        } */
      }

    }
  }
}

.mensaje-de-bienvenida{
  & .messages{
    & .active{
      color: red;
    }
  }
  & .is-valid{
    border: 2px solid green;
  }
  & .is-invalid{
    border: 2px solid red;
  }
}
