
#create-course-section{
  margin-top: 140px;
  margin-bottom: 200px;

  & .create-course-container{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0px 120px;
    border: 1px solid black;
    border-radius: 8px;

    & .side-nav{
      border-right: 1px solid black;
      padding: 20px 40px;
      grid-area: 1 / 1 / 6 / 2;
    }

    & .profile-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* padding: 20px 40px; */
      grid-area: 1 / 2 / 6 / 6;

      & .profile-header{
        width: 100%;
        padding: 20px 10px;
        max-width: -webkit-fill-available;
        text-align: center;
        margin-bottom: 40px;

        & .title{
          font-size: 24px;
        }
      }

      & .profile-form{
        /* padding: 40px 1px; */
        margin-bottom: 40px;
        width: 50%;
        & form{
          display: flex;
          flex-direction: column;
          /* & .imageInput{
            border: 1px solid #9E896A;
            width: 25%;
            padding: 4px;
            text-align: center;
            border-radius: 32px;
          } */
          /* & .imageInput:hover{
            cursor: pointer;
          } */
          & button{
            width: 34%;
            align-self: center;
            border-radius: 32px;
            margin-top: 10px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

#create-course-section .create-course-container {
  & .profile-form {
    & .label-and-input{
      & .input-label{
        display: block;
        padding-bottom: 3px;
        font-size: 18px;
      }
      & .inputForm{
        border-radius: 32px;
        border: 1px solid #9E896A;
        padding: 10px;
        width: 100%;
      }
    }
    & .mat-form-field-infix{
      border: none;
      padding: 0px;
    }
    & .error-message{
      color: red;
      margin-bottom: 4px;
      visibility: hidden;
      & p{
        padding-top: 3px;
        margin: 0px;
      }
    }
    & .isInvalid{
      visibility: visible;
    }
  }
}

#toast {
  visibility: hidden;
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #f46c19; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 90%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

}

#toast.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
