<div id="info-section">
  <div class="container">
    <div class="image">
      <img src="../../../../../assets/noc_bg.jpg" alt="">
    </div>
  </div>
</div>
<div id="about-us-section">
  <div class="about-us-container">
    <div class="left-side">
      <div class="title">
        <h3>Sobre Nosotros</h3>
      </div>
      <div class="description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolorem impedit quo itaque quibusdam, quidem blanditiis eum fugit laboriosam, minus vero nesciunt ratione aperiam, neque perferendis unde voluptate illum temporibus?</p>
      </div>
    </div>
    <div class="right-side">
      <div class="about-us-image">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
