<div id="info-section">
  <div class="container">
    <div class="image">
      <img src="../../../../../assets/noc_bg.jpg" width="100%" height="700px">
    </div>
  </div>
</div>
<div id="seccion-principal">
  <div class="contenedor-seccion-principal">
    <div class="parte-izquierda">
      <div class="textos">
        <div class="texto-principal">
          <p>
            Hola! Se parte de los cursos y talleres que brindamos.
          </p>
        </div>
        <div class="texto-secundario">
          <p>Aprende y se parte de la comunidad!</p>
        </div>
      </div>
    </div>
    <div class="parte-derecha">
      <div class="pasos">
        <ul>
          <li>
            <div class="numero">
              <span>1</span>
            </div>
            <span class="descripcion">Inscribite al curso que prefieras.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>2</span>
            </div>
            <span class="descripcion">Completa el curso en pocas clases.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>3</span>
            </div>
            <span class="descripcion">Practica y conecta con la comunidad.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
          <li>
            <div class="numero">
              <span>4</span>
            </div>
            <span class="descripcion">Comienza tu propio emprendimiento.</span>
            <!-- <p>Inscribite al curso que prefieras.</p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-carrousel></app-carrousel>
<div id="about-us-section">
  <div class="about-us-container">
    <div class="left-side">
      <div class="title">
        <h3>Sobre Nosotros</h3>
      </div>
      <div class="description">
        <p>La tarea más ardua de nuestra institución, por la zona en la que se encuentra, es la sensibilización del emprendedor.<br> No hay organizaciones en la región que se dediquen al acompañamiento, por lo que es difícil la generación de confianza,<br> el concepto de incubadora de empresa es desconocido. La tarea más ardua de nuestra institución, por la zona en la que se encuentra,<br> es la sensibilización del emprendedor. No hay organizaciones en la región que se dediquen al acompañamiento,<br> por lo que es difícil la generación de confianza, el concepto de incubadora de empresa es desconocido..</p>
      </div>
    </div>
    <div class="right-side">
      <div class="about-us-image">
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
